@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url('5652030.webp');
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    display: inline;
}

header .logo span {
    color: #ff4e05;
    font-size: 35px;
}

header nav a {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    margin: 10px;
    padding: 8px;
    letter-spacing: .6px;
    transition: .3s ease;
    border-bottom: transparent solid 3px;
}

header nav a:hover {
    color: red;
    border-bottom: red solid 3px;
}

.btn {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 10px;
    background-color: #fff;
    color: red;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: .4s ease;
}

.btn:hover {
    background-color: red;
    color: whitesmoke;
}

section {
    padding: 5%;
}

.Home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.Home .content h4 {
    font-size: 1.5rem;
    font-style: italic;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.Home .content h1 {
    font-size: 5rem;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-top: 10px;
}

.Home .content h1 span {
    font-size: 6rem;
    color: red;
    font-weight: 900;
}

.Home .content p {
    margin: 20px 0 30px;
    color: whitesmoke;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.4;
    max-width: 500px;
}

.Home .content .link-social {
    position: absolute;
    right: 4%;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.Home .content .link-social a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: red;
    transition: .4s ease;
}

.Home .content .link-social a:hover {
    transform: translateX(10px);
}

.Home .content .flish {
    position: absolute;
    right: 4%;
    bottom: 50px;
    width: 70px;
    height: 70px;
    display: inline-flex;
    border: solid #fff 3px;
    color: white;
    background-color: red;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0;
    transition: .4s ease;
}

.Home .content .flish:hover {
    border: solid red 3px;
    background-color: red 3px;
    color: white;
}

.Home .btn {
    background-color: red;
    color: white;
    transition: .3s ease;
}

.Home .btn:hover {
    background-color: white;
    color: red;
}